.add-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;

    transition: transform 0.6s;
}

.add-icon:hover {
    transform: rotate(90deg) scale(1.2);
}

/* Add book card sticky icon */
.add-icon {
    position: fixed;
    top: 65px;
    left: 25px;
}
